AuraMind-AI.json
{
  "name": "AuraMind-AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1A__PHDZ9i01MSRv9KdewwaICdJfGwTpV",
          "mode": "list",
          "cachedResultName": "AuraMind Demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1A__PHDZ9i01MSRv9KdewwaICdJfGwTpV"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -112
      ],
      "id": "3a537e06-569d-4e62-82ff-b9d41b31f20a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8VsfoOmf9RjJxStp",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        160,
        -336
      ],
      "id": "25c644a5-edc2-42bc-a99a-5cc0f49923b2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const chunks = [];\n\nconst processedAt = new Date().toISOString();\nconst chunkSize = 1000;\nconst overlapLines = 2;\n\n// =====================\n// METADATA\n// =====================\nconst triggerData = $(\"Google Drive Trigger\").item.json;\n\nconst fileName = triggerData.name || \"unknown_file\";\nconst fileId = triggerData.id || \"0000\";\n\n// =====================\n// INPUT\n// =====================\nlet rawText = items[0]?.json?.content || items[0]?.json?.text || \"\";\n\nif (!rawText.trim()) {\n  return [];\n}\n\n// =====================\n// NORMALIZE\n// =====================\nrawText = rawText\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\");\n\nconst lines = rawText.split(\"\\n\");\n\nlet currentChunk = \"\";\nlet chunkIndex = 1;\n\n// =====================\n// CHUNKING\n// =====================\nfor (const line of lines) {\n\n  const cleanLine = line.trim();\n\n  if (!cleanLine) continue;\n\n  if (\n    currentChunk.length + cleanLine.length > chunkSize &&\n    currentChunk.length > 0\n  ) {\n\n    chunks.push({\n      json: {\n        text_payload: currentChunk.trim(),\n        metadata: {\n          source_file: fileName,\n          drive_id: fileId,\n          chunk_index: chunkIndex++,\n          data_type: \"narrative_context\",\n          processed_at: processedAt\n        }\n      }\n    });\n\n    const overlap = currentChunk\n      .split(\"\\n\")\n      .slice(-overlapLines)\n      .join(\"\\n\");\n\n    currentChunk = overlap + \"\\n\";\n  }\n\n  currentChunk += cleanLine + \"\\n\";\n}\n\n// =====================\n// FINAL FLUSH\n// =====================\nif (currentChunk.trim()) {\n  chunks.push({\n    json: {\n      text_payload: currentChunk.trim(),\n      metadata: {\n        source_file: fileName,\n        drive_id: fileId,\n        chunk_index: chunkIndex,\n        data_type: \"narrative_context\",\n        processed_at: processedAt\n      }\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -336
      ],
      "id": "f148cb9f-204c-4f3f-93cb-a0189d94564a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3f57881-a6af-4b19-9e10-21969018aabe",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1eff17cd-36f7-4c53-8237-eb0261314a6e",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9f845f41-4eac-4a7f-aeab-9841980301c4",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "text/markdown",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "725270c7-e5b0-46e8-bec9-cd04bfa27ab9",
              "leftValue": "={{ $json.name.split('.').pop().toLowerCase() }}",
              "rightValue": "docx",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        -112
      ],
      "id": "816fc1bf-aeae-4bbd-98f6-d97ea792f916",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/markdown"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        -336
      ],
      "id": "97e94aab-7e45-4079-8f87-3b76cf4aa987",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8VsfoOmf9RjJxStp",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9be7994f-ae75-46bb-b189-a3bb3769d6c9",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.spreadsheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b9199d47-98e3-45ab-88de-a6ea3f8cd59a",
              "leftValue": "={{ $json.name.split('.').pop().toLowerCase() }}",
              "rightValue": "csv",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ec1046c8-42ed-4d77-8a49-407d48090649",
              "leftValue": "={{ $json.name.split('.').pop().toLowerCase() }}",
              "rightValue": "xlsx",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "767d9178-54d2-4d44-a0a6-e5e1263bfc19",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        144
      ],
      "id": "d3f3e667-4c0b-4f7e-be03-f75009323e6e",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.exportLinks?.['text/tab-separated-values'] ? 0 : 'Sheet1' }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        128
      ],
      "id": "f257dadc-5da9-4ab9-b0d1-f33e800242a3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FOkYauQxNlI47YEz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let chunks = [];\nconst processedAt = new Date().toISOString();\n\nlet fileName = \"unknown_file\";\nlet fileId = \"0000\";\n\ntry {\n  const triggerData = $('Google Drive Trigger').item?.json;\n  if (triggerData?.name) fileName = triggerData.name;\n  if (triggerData?.id) fileId = triggerData.id;\n} catch (e) {\n  // Safe fallback\n}\n\nconst inputItems = typeof items !== 'undefined' ? items : [];\nif (inputItems.length === 0) return [];\n\ninputItems.forEach((item, index) => {\n  const rowText = Object.entries(item.json)\n    .filter(([k, v]) => v !== null && v !== undefined && v !== \"\" && k !== 'row_number')\n    .map(([k, v]) => `${k}: ${v}`)\n    .join(\", \");\n    \n  if (rowText.trim().length > 0) {\n    chunks.push({\n      text_payload: rowText,\n      // We dump the entire dynamic row context here automatically\n      metadata_dump: {\n        ...item.json, // Dynamically includes every single column header automatically\n        source_file: fileName,\n        drive_id: fileId,\n        chunk_index: index + 1,\n        data_type: \"structured_inventory_matrix\",\n        processed_at: processedAt\n      }\n    });\n  }\n});\n\n// Return as individual items so n8n can loop through them smoothly one by one\nreturn chunks.map(c => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        128
      ],
      "id": "acfd5670-6db4-4f17-bdf9-43d6f9d00be0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "auramind-index",
          "mode": "list",
          "cachedResultName": "auramind-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        -336
      ],
      "id": "5b3dca0d-3819-4f86-85ef-4b6399eb9baa",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GYr4dBdrPWjtrta7",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "auramind-index",
          "mode": "list",
          "cachedResultName": "auramind-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1008,
        128
      ],
      "id": "52be4efb-cfa8-4a61-b710-f25f716d0018",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "GYr4dBdrPWjtrta7",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        -160
      ],
      "id": "5f496c6d-a5ef-42c2-a0e3-33e70b5a4dc4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        320
      ],
      "id": "23e89d86-088a-4b93-a467-85a8887a8320",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text_payload }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data_type",
                "value": "={{ $json.metadata.data_type }}"
              },
              {
                "name": "source_file",
                "value": "={{ $json.metadata.source_file }}"
              },
              {
                "name": "drive_id",
                "value": "={{ $json.metadata.drive_id }}"
              },
              {
                "name": "chunk_index",
                "value": "={{ $json.metadata.chunk_index }}"
              },
              {
                "name": "processed_at",
                "value": "={{ $json.metadata.processed_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1136,
        -176
      ],
      "id": "ae645863-9f48-4229-b560-a8601cd8a2ad",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text_payload }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.metadata_dump }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1152,
        336
      ],
      "id": "1bac0ac3-f34d-4bfa-94ae-865016c46b6c",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 2000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1152,
        512
      ],
      "id": "c3629d30-f8ef-4f0d-a1a0-971abfe52432",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "chunkSize": 2000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1136,
        -16
      ],
      "id": "811cbdd8-65b9-43e6-90c4-15a06c1e6190",
      "name": "Token Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "861e91a1-a383-44fa-9f88-65dcedf5d01a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0fc2d4ec7a8cd0b72d6e836530ce129ef81e0213fb1b7e6f072e62d55df55eb2"
  },
  "id": "zJvoQJHMgfQuwXgB",
  "tags": []
}